* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(205, 230, 250);
}

.wrapper {

    max-width: 800px;
    margin: 100px auto;
    font-size: 20px;
    padding: 20px;
    background: linear-gradient(180deg, rgb(12, 38, 209), rgb(52, 71, 197), rgb(38, 6, 219), rgb(80, 51, 246));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    border: none;
    box-shadow: 5px 5px 5px #3a339e;
    border-radius: 25px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.add-form {
    display: grid;
    grid-template-columns: 1fr 100px;
}

.input-text {
    font-size: 30px;
    border-radius: 25px;
}

button:not(.btn) {
    padding: 10px 15px;
    background: blue;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    border: none;
    box-shadow: 5px 5px 5px #595959;
}

button:hover {
    background: rgb(1, 1, 155);
}

button:active {
    box-shadow: inset 2px 2px 10px #0c0c0c;
    background: blue;
}

.btns {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    margin-top: 20px;
    width: 500px;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}

.list-item {
    display: grid;
    grid-template-columns: 100px 300px 100px;
    align-items: center;


}

.list-item span:not(.task-done) {
    color: white;
    font-weight: 700;
}

.task-done {
    color: #929292;
    font-weight: 500;
    text-decoration: line-through;
}

.list-item input {
    width: 30px;
    height: 30px;
}

.error {
    color: red;
    font-style: italic;
}

.item__edit {
    min-width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 20px;
    justify-self: auto;
}

.active {
    background-color: #3a339e;
    box-shadow: inset 2px 2px 10px #0c0c0c;
}

.btn {
    padding: 10px 15px;

    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    border: none;
    
}

.btn:not(.active) {
    background-color: rgb(0, 117, 250);
    box-shadow: 5px 5px 5px #595959;
}